<div class="language-wrap container">
	<div class="language d-flex wow fadeInDown" data-wow-delay="0.5s">
		<a href="#" class="language-item d-flex align-items-center vn rb-language" title="Vietnamese" rb-data-lang="vi" rb-data-url="{{path('hk.home.lang')}}"><span class="flag"></span></a>
		<a href="#" class="language-item d-flex align-items-center en rb-language" title="English" rb-data-lang="en" rb-data-url="{{path('hk.home.lang')}}"><span class="flag"></span></a>
	</div>
</div>

<!--
<div class="dropdown-menu dropdown-menu-right">
    <a href="javascript:void(0)" class="dropdown-item lang vn rb-language" rb-data-lang="vi" title="Vietnamese" rb-data-url="{{path('hk.home.lang')}}">Vietnamese</a>
    <a href="javascript:void(0)" class="dropdown-item lang en rb-language" title="English" rb-data-lang="en" rb-data-url="{{path('hk.home.lang')}}">English</a>
</div>
-->
