<!-- Footer -->
<div class="hk-footer-wrap container-fluid px-lg-4">
    <footer class="footer">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p>
                    © 2021. Powered by<a href="//geekhubsolution.com" class="text-dark" target="_blank" title="HK">HK</a>
                </p>
            </div>
        </div>
    </footer>
</div>
<!-- /Footer -->
