@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    overflow: auto;
    section{
        &.mainer {
            width: 100%;
            padding:0px;
        }
    }
    * {
        font-size: 101%;
        font-family: 'Roboto', sans-serif;
    }
    .tcity {
        select {
            width: 250px;
        }
    }
    .main-table {
        width: 1920px;
    }
    .tab-content{
        width: 100%;
        height: 100%;
    }
    table.table.table-striped {
        tbody {
            tr {
                &.success {
                    background-color: #A9DFBF !important;
                }
                &.cancel {
                    background-color: #F5B7B1 !important;
                }
            }
        }
    }
}