.rb-pre-loader{
    position: fixed;
    top:0px;
    right:0px;
    padding: 20px;
    text-align: center;
    color:#ccc;
    z-index: 999999;
    background: #FFF;
}

.jq-toast-wrap .jq-toast-single.jq-has-icon {
    padding: 11px 25px 15px 45px;
}

.jq-toast-wrap .jq-toast-single {
    color: #fff;
    border-radius: 2px;
    margin: 0;
    border: 1px solid;
    background: #324148;
    font-size: 14px;
    line-height: 1.3;
}
.jq-toast-wrap .jq-toast-single, .jq-toast-wrap .jq-toast-single .jq-toast-heading, .main-font {
    font-family: "Nunito", sans-serif;
}

.jq-toast-wrap .jq-toast-single.jq-toast-danger {
    background: #fff1f1;
    color: #8b0c12;
    border-color: rgba(253, 197, 195, 0.3);
}

.jq-toast-wrap .jq-toast-single.jq-toast-success {
    background: #eff9f2;
    color: #05592b;
    border-color: rgba(188, 231, 199, 0.3);
}
body {
    background: #fff;
}